.packages_item {
    float: left;
    width: 33.3%;
    padding: 50px 8px;
}

.packages_wrap {
    list-style-type: none;
    border: 1px solid var(--color-accent);
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.packages_wrap .packages_wrap__header {
    background-color: var(--color-primary);
    color: white;
    font-size: 18px;
}

.packages_wrap .packages_wrap__price {
    font-size: 14px;
    font-weight: bolder;
}

.packages_wrap li {
    border-bottom: 1px solid var(--color-accent);
    padding: 20px;
    text-align: center;
}

.button {
    background-color: var(--color-secondary);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}