html {
  --background: #f1f5f9;
  --color-primary: #0f172a;
  --color-secondary: #84cc16;
  --color-accent: #d1d5db;
  --background: #f1f5f9;
  --default_space: 16px;
  --default_radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}